/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* added the Poppins fonts here  */
.Poppins {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Body style */
.body-color{
    background-color: #FFFFFF;
    margin: 0;
}

/* Header section */
.headers{
    max-width: 1300px;
    margin: 0 auto;
}
/* Nav bar  */
.navigation{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.8rem;
}
.nav-title{
    font-size: 1.6rem;
    font-weight: 700;
    color: #3a3a3a;
}
.nav-main-lists{
     display: flex;
     flex-wrap: wrap;
     gap: 2.1rem;  
}
.nav-main-lists a{
    text-decoration: none;
     font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
.nav-list{
    list-style: none;
}


/* Hero Section */
.hero{
    margin-bottom: 4.3rem;
    /* border: 2px solid red; */
}
.hero-main{
    display: flex;
    gap: 8rem;
    align-items: center;
}
.hero-1{
    flex: 1;
}
.hero-title{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.4rem;
    color: #3A3A3A;
    margin-bottom: 1rem;
}
.hero-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 1rem;
    max-width: 505px;
}
.btn-primary{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 0.6rem 1.6rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;

}
.hero-image{
    background-image: url("../images/Circle design.svg");
    /* width: 100%; */
    /* height: 500px; */
    background-repeat: no-repeat;
    background-position: center;           
    background-size: cover; 
}
.hero-image img{
    width: 100%;
    /* flex: 1; */
}


/* Company section */
.company{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6.2rem;
}
.company-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* gap: 3.7rem; */
    padding: 2.1rem 3.9rem;
    /* border: 1px solid #4682B4; */

}
.company-image{}
hr{
    background-color: #4682B4;
    opacity: 0.2;
}

/* Cards section */

.card{
    max-width: 1050px;
    margin: 0 auto;
    /* border: 1px solid #4682B4; */
    margin-bottom: 6.5rem;
}
.top-card{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 4.2rem;
    color: #3a3a3a;
    margin-bottom: 2.8rem;
}
.main-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.card-container{
    width: 300px;
    height: 470px;
    /* border: 1px solid red; */
    padding: 0.9rem 1.1rem;
    gap: 1.9rem;
    box-shadow: 4px 2px 10px gray;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}
.card-container img{
    /* max-width: 300px; */
    width: 100%;
    /* height: 256px; */
    border-radius: 5px;
    margin-bottom: 0.25rem;
}
.card-title{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #18191F;
    margin-top: 0px;
    margin-bottom: 0.25rem;
}
.card-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.47);
    margin-bottom: 0.2rem;
    margin-top: 0px;
}
.stars-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0px;
    /* flex: 1; */
}
.stars-card img {
    width: 30%;
    height: 50%;
    /* flex: 1; */
}
.stars-des{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing; 1.8%;
    color: #787887;
    width: 70%;
}
.btn-seemore{
    display: flex;
    justify-content: flex-end;
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
    background-color: #FFFFFF;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    position: right;
}

/* Feature section */
.feature{
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 6.5rem;
    /* border: 1px solid red; */
}
.main-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.feature-img {
    width: 100%;
    /* height: 100%; */
}
.feature-content{
    /* width: 100%; */
}
.feature-title{
    font-size: 2.3rem;
    font-weight: 700;
    /* line-height: 3.7rem; */
    color: #0A0826;
    margin-bottom: 1rem;
}
.feature-des{
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7rem;
    color: #6c6c6c;
    margin-top: 0px;
    margin-bottom: 1rem;
}
.feature-content button{
    border-radius: 0.1rem;
    
}

/* Footer Section */
.footers{
    background-color: #0A0826;
    color: white;
}
.footer-content{
    max-width: 280px;
    margin: 0 auto;
    border: 1px solid rgba(15,15,15,0.1);
}
.footer-container{
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;

}
.footer-des{
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #d9dbe1;
}
.footer-image{
    /* width: 80%; */
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(100%);
    margin-top: 1rem;
}
.footer-image img{}


/* Mobile Responsive  */

@media screen and (max-width: 576px) {
    /* navigation bar  */
    .nav-main-lists{
        flex-wrap: wrap;
    }

    /* hero section */

    .hero-main{
        flex-direction: column-reverse;
    }
    .hero-1{
        text-align: center;
    }

    /*  Card Section */
    .main-card{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 2rem;
    }
    .card-container{
        max-width: 100%;
        margin: 0 auto;
        
    }
    .btn-seemore{
        margin-top: 1.5rem;
}
    /* feature responsive */
    .main-feature{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    .feature-content{
        width: 100%;
        /* margin: 0 auto; */
        text-align: center;
    }
    .feature-des{
        width: 100%;
    }
    .feature-img img{
        width: 100%;
    }
    
}